:root {
   font-size: 16px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

html, body {
   background-color: #0e1732;
   height: 100%;
   color: white;
   margin: 0;
}

h1 {
   margin: 20px 0 0;
}

.game-board {
   height: 425px;
   width: 425px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 135px);
   grid-template-rows: repeat(3, 135px);
   gap: 10px;
   margin-top: 90px;
}

.game-tile {
   background-color: #d8d8d8;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20%;
}

.game-tile:hover {
   background-color: white;
   cursor: pointer;
}

.pawn {
   font-size: 6rem;
   color: #0e1732;
}

.pawn,
.chosen-pawn {
   font-family: fantasy;
}

.game {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
}

.player1-container,
.player2-container {
   justify-self: center;
   line-height: 1.7;
}

.player1-name,
.p1-scoreboard  div:not([class]) .chosen-pawn,
.show-player1-name {
   color: #818cf8;
}

.player2-name,
.p2-scoreboard  div:not([class]) .chosen-pawn,
.show-player2-name {
   color: orange;
}

.show-player1-name,
.show-player2-name {
   margin: 50px 0 20px;
   font-size: 1.2rem;
}

dialog {
   background-color: transparent;
   border: none;
   outline: none;
   font-size: 5rem;
}

::backdrop {
   background-color: rgb(0,0,0,0.2);
}

.player1-container .change-name,
.player1-container .change-pawn {
   border: 1px solid #818cf8;
   color: #818cf8;
}

.player2-container .change-name,
.player2-container .change-pawn {
   border: 1px solid orange;
   color: orange;
}

.player1-container .change-name,
.player2-container .change-name,
.player1-container .change-pawn,
.player2-container .change-pawn {
   display: block;
   background: transparent;
   cursor: pointer;
   border-radius: 12px;
   margin-top: 20px;
   padding: 3px 5px;
}

input:focus {
   outline: none;
}

.hide-p1-name-form,
.hide-p2-name-form {
   height: 0;
   width: 0;
}

.hide-p1-name-input,
.hide-p2-name-input {
   border: none;
   padding: 0;
   height: 0;
   width: 0;
}

.show-p1-name-input {
   color: #818cf8;
}

.show-p2-name-input {
   color: orange;
}

.show-p1-name-input,
.show-p2-name-input {
   background-color: transparent;
   margin-top: 50px;
   font-size: 1.2rem;
   width: 98px;
   height: 32.64px;
}

.p1-press-enter-msg {
   color: #818cf8;
}

.p2-press-enter-msg {
   color: orange;
}

.p1-press-enter-msg,
.p2-press-enter-msg {
   font-size: 0.7rem;
   margin: -8px 0 8.9px;
}

#p1-name-input::placeholder {
   color: #818cf8;
}

#p2-name-input::placeholder {
   color: orange;
}